$pink: #D3204B;

.comment-item {
  border: 2px solid $pink;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 20px 0;

  .comment-content {
    margin: 5px 0
  }

  .comment-identity {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      display: inline;
      font-size: 15px;
      font-weight: bold;
    }

    img {
      width: 25px;
      border-radius: 5px;
    }
  }

  .comment-footer {
    display: flex;
    align-items: center;
    gap: 15px;

    svg {
      color: white;
      font-size: 1.5em;
    }

    p {
      padding-left: 5px;
    }
  }

  .comment-action {
    display: flex;
    align-items: center;

    p {
      margin-left: 5px;
      margin-right: 15px;
    }

    button {
      background-color: unset;
      padding: 0;
    }
  }
}

.comment-title {
  margin: 10px 0 10px 0;
}

.comment-form {
  .div-editable {
    min-height: 100px;
    margin-bottom: 10px;
  }
}