$input-background: #0D0D0D;
$input-text: #666666;
$button-background: #D3204B;
$button-text: #FFFFFF;
$pink: #D3204B;

input, .div-editable {
  background-color: $input-background;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: 1px solid $input-background;
  font-size: 15px;
}

input:focus {
  outline: 1px solid $pink;
}

button {
  background-color: $button-background;
  color: $button-text;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.comment-form {
  button {
    width: fit-content;
    margin-top: 10px;
  }
}

.new-thread-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  .div-editable {
    min-height: 100px;
  }
}

.new-thread-button {
  background-color: $pink;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
}