@use '__authCard.scss';
@use '__navBar.scss';
@use '__popularCategory.scss';
@use '__thread.scss';
@use '__comment.scss';
@use '__leaderboards.scss';

$background: #000000;

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

main, nav {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

nav {
  padding-top: 20px;
}

h2, h3 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

p, span {
  font-weight: 200;
  color: white;
  font-size: 15px;
}

a {
  text-decoration: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}